*{
    margin: 0;
    padding: 0;
    font-family:Roboto;
    scroll-behavior: smooth;
}

.nav-bar{
  clear:both;
  overflow:auto;
  background-color: #BE0808;
}

.nav-logo img{
    float:left;
    padding: 50px;
    width:130px;
}

nav{
    float:right;
}

ul{
    padding:40px;
}
ul li{
  display: inline-block; 
  padding:10px;
  font-size:20px;
  color:#F5F5F5;

}

ul li a:hover{
  color: black;
  
}

ul li a{
    text-decoration: none;
    color: white;
}

.hero-section{
    background-color:#BE0808;
}

.hero{
    background-image: url('/img/assets/hero-section.png');
    background-size: cover;
    height: 632px;
}

.hero-text h1{
    text-align:left;
    font-size: 70px;
    font-weight: 700;
    color:#F5F5F5;
    padding: 80px 550px 0px 95px;

}

.our-games{
    background-color: #FFFFFF;
    position: relative;
    height: 345px;
    width: 1200px;
    margin: 100px auto;
}
.our-games h2{
    text-align: center;
    padding-bottom:50px;
    font-size: 40px;
}
.our-games .box{
    position: relative;
    width:calc(400px - 30px);
    height:calc(300px - 30px);
    background: rgb(235, 233, 233);
    float:left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius:10px;

}

.our-games .box p{
    font-weight: 700;
    text-align: center;
    padding: 30%;
    font-size: 20px;
    color: grey;
}

.latest-updates{
    background-color: #FFFFFF;
    position: relative;
    height: 550px;
    width: 1200px;
    margin: 100px auto;
}

.latest-updates h2{
    text-align: center;
    padding-bottom:50px;
    font-size: 40px;
}

.latest-updates .ubox{
    position: relative;
    width:calc(400px - 30px);
    height:calc(500px - 30px);
    background: white;
    float:left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow:   0px 4px 6px 0px #ccc;
}

.latest-updates .ubox h2{
    font-weight: 700;
    text-align: left;
    font-size: 20px;
    color: black;
    padding: 10px 0 0 20px;
    font-size: 25px;
}

.latest-updates .ubox p{
    padding: 10px 0 0 20px;
    font-size: 15px;
}



.our-team{
    background-color: #FFFFFF;
    position: relative;
    height: 500px;
    width: 1200px;
    margin: 100px auto;
}
.our-team > h2{
    text-align: center;
    padding-bottom:50px;
    font-size: 40px;
}

.tbox-1{
    width:calc(300px - 30px);
    height:calc(300px - 30px);
    background-image: url('/img/team/Arpan-Pyasi.jpg');
    float:left;
    margin: 15px;
    background-size: cover;
}
.tbox-2{
    width:calc(300px - 30px);
    height:calc(300px - 30px);
    background-image: url('/img/team/Nirdesh-Shrestha.jpg');
    float:left;
    margin: 15px;
    background-size: cover;
}
.tbox-3{
    width:calc(300px - 30px);
    height:calc(300px - 30px);
    background-image: url('/img/team/Prerak-Giri.jpg');
    float:left;
    margin: 15px;
    background-size: cover;
}
.tbox-4{
    width:calc(300px - 30px);
    height:calc(300px - 30px);
    background-image: url('/img/team/Yogesh-Dhakal.jpg');
    float:left;
    margin: 15px;
    background-size: cover;
}

.teambox{
    float:left;
}

.teambox h2{
    font-size: 20px;
    text-align: center;
}

.teambox p{
    font-size: 15px;
    text-align: center;
}

footer{
    bottom:0;
}

.footer-top{
    display: flex;
    background-color: #B30707;
    padding: 20px;
}

.footer-top-left{
    float: left;
}

.footer-image{
    width: 150px;
}

.footer-top-center {
    margin: auto;
 }

.footer-center-icon{
    width: 85px;
}

.footer-top-right{
    float: right;
}

i.fab, i.fas{
    color: white;
    font-size: 1.5em;
    padding: 5px;
}

.footer-main {
    background-color: #B30707;
    color: white;
    box-sizing: border-box;
	width: 100%;
    text-align: left;
    padding: 40px;
    display: flex;
 }

.footer-left, .footer-right{
    display: inline-block;
    vertical-align: top;
}

.footer-left{
    width: 100%;
    text-align: left;
}

.footer-right{
    width: 100%;
    text-align: right;
}

.footer-right a{
    text-decoration: none;
    color: white;
}
