*{
    margin: 0;
    padding: 0;
    font-family:Roboto;
}

.nav-bar{
  clear:both;
  overflow:auto;
  background-color: #BE0808;
}

nav{
    float:right;
}

.logo img{
    float:left;
    padding: 50px;
    width:130px;
}
ul{
    padding:40px;
}
ul li{
  display: inline-block; 
  padding:10px;
  font-size:20px;
  color:#F5F5F5;

}

ul li a:hover{
  color: black;
  
}

ul li a{
    text-decoration: none;
    color: white;
}

.hero-text h1{
    text-align:left;
    font-size: 70px;
    font-weight: 700;
    color:#F5F5F5;

}

.hero-section{
    background-color:#BE0808;
}
.hero{
    background-image: url('/img/assets/hero-section.png');
    background-size: cover;
    height: 632px;
}

.hero-text{
    padding: 80px 35% 0px 95px;

}
.games{
    background-color: #FFFFFF;
    position: relative;
    height: 345px;
    width: 1200px;
    margin: 100px auto;
}
.games h2{
    text-align: center;
    padding-bottom:50px;
    font-size: 40px;
}
.games .box{
    position: relative;
    width:calc(400px - 30px);
    height:calc(300px - 30px);
    background: rgb(235, 233, 233);
    float:left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius:10px;

}

.games .box p{
    font-weight: 700;
    text-align: center;
    padding: 30%;
    font-size: 20px;
    color: grey;
}

.updates{
    background-color: #FFFFFF;
    position: relative;
    height: 600px;
    width: 1200px;
    margin: 100px auto;
}
.updates h2{
    text-align: center;
    padding-bottom:50px;
    font-size: 40px;
}
.updates .ubox{
    position: relative;
    width:calc(400px - 30px);
    height:calc(500px - 30px);
    background: white;
    float:left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow:   0px 4px 6px 0px #ccc;
}

.updates .ubox h2{
    font-weight: 700;
    text-align: left;
    font-size: 20px;
    color: black;
    padding: 10px 0 0 20px;
    font-size: 25px;
    
}

.updates .ubox p{
    padding: 10px 0 0 20px;
    font-size: 15px;
}








.team{
    background-color: #FFFFFF;
    position: relative;
    height: 500px;
    width: 1200px;
    margin: 100px auto;
}
.team h2{
    text-align: center;
    /* padding-bottom:50px; */
    font-size: 40px;
}
.team .tbox{
    /* position: relative; */
    width:calc(300px - 30px);
    height:calc(300px - 30px);
    background: rgb(235, 233, 233);
    /* float:left; */
    margin: 15px;
    /* box-sizing: border-box;
    overflow: hidden; */
}

.team .tbox-1{
    width:calc(300px - 30px);
    height:calc(300px - 30px);
    background-image: url('/img/team/Arpan-Pyasi.jpg');
    float:left;
    margin: 15px;
    background-size: cover;
}

.team .tbox-2{
    width:calc(300px - 30px);
    height:calc(300px - 30px);
    background-image: url('/img/team/Nirdesh-Shrestha.jpg');
    float:left;
    margin: 15px;
    background-size: cover;
}
.team .tbox-3{
    width:calc(300px - 30px);
    height:calc(300px - 30px);
    background-image: url('/img/team/Prerak-Giri.jpg');
    float:left;
    margin: 15px;
    background-size: cover;
}
.team .tbox-4{
    width:calc(300px - 30px);
    height:calc(300px - 30px);
    background-image: url('/img/team/Yogesh-Dhakal.jpg');
    float:left;
    margin: 15px;
    background-size: cover;
}

.team .tbox h2{
    font-weight: 700;
    text-align: left;
    font-size: 20px;
    color: black;
    padding: 10px 0 0 20px;
    font-size: 25px;
    
}

.team .tbox p{
    padding: 10px 0 0 20px;
    font-size: 15px;
}

.team .teambox h2{
    font-size: 20px;
}
.teambox p{
    font-size: 15px;
    text-align: center;
}

.teambox{
    float:left;
    /* display:flex; */
    /* flex-wrap: wrap; */
}



.footer-top{
    display: flex;
    background-color: #B30707;
    padding: 20px;
}

.footer-top .footer-top-left{
    float: left;
}

.footer-image{
    width: 150px;
}

.footer-center-icon{
    width: 85px;
}
.footer-top .footer-top-center {
   margin: auto;
}

.footer-top .footer-top-right{
    float: right;
}
i.fab, i.fas{
    color: white;
    font-size: 1.5em;
    padding: 5px;
}

footer{
    bottom: 0;
}

.footer-main {
    background-color: #B30707;
    color: white;
    box-sizing: border-box;
	width: 100%;
    text-align: left;
    padding: 40px;
    /* margin-top: 80px; */
    display: flex;
 }

.footer-main .footer-left, .footer-main .footer-right{
    display: inline-block;
    vertical-align: top;
}

.footer-main .footer-left{
    width: 100%;
    text-align: left;
}

.footer-main .footer-right{
    width: 100%;
    text-align: right;
}
